# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# IPython checkpoints
.ipynb_checkpoints/

.env
.python-version

# Data
*.csv
*.pickle
*.mp3
*.pdf

notes.txt
ubuntu-xenial-16.04-cloudimg-console.log
test.sh
_bin/*
